<% layout("/layouts/boilerplate") %>
<body>
    <div class="row mt-2">
        <div class="col-8 offset-2">
            <h3>Edit your Listing:</h3>
            <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" class="needs-validation" novalidate >
            <div class="mb-3">
                 <label for="title" class="form-label">Title</label>
                 <input name="listing[title]" value="<%= listing.title %>" type="text" class="form-control" required>
                 <div class="valid-feedback">Title looks good!</div>
            </div>
            <div class="mb-3">
                 <label for="description" class="form-label">Description</label>
                 <textarea name="listing[description]" class="form-control" required><%= listing.description %></textarea>
                 <div class="invalid-feedback">Please enter a short description </div>
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Image Link</label>
                <input name="listing[image]" value="<%= listing.image %>" class="form-control" required>
                <div class="invalid-feedback">image should be must</div>
            </div>
            <div class="row">
                <div class="mb-3 col-md-4">
                    <label for="price" class="form-label">Price</label>
                    <input name="listing[price]" value="<%= listing.price %>" type="number"  class="form-control" required>
                    <div class="invalid-feedback">Price should be valid </div>
                </div>
                <div class="mb-3 col-md-8">
                    <label for="country" class="form-label">Country</label>
                    <input name="listing[country]" value="<%= listing.country %>" type="text"  class="form-control" required>
                    <div class="invalid-feedback">Country Location should be valid</div>
                </div>
            </div>
            
            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input name="listing[location]" value="<%= listing.location %>" type="text"  class="form-control" required>
                <div class="invalid-feedback">Location should be valid</div>
            </div>
            <button class="btn btn-dark edit-btn mt-3 mb-5">Edit</button>

            </form>

             <!-- javascript code // script.js -->
             <script>/// form validation with bootstraps // script.js code

                // Example starter JavaScript for disabling form submissions if there are invalid fields
                 (function () {
                    'use strict'
              
                    // Fetch all the forms we want to apply custom Bootstrap validation styles to
                    var forms = document.querySelectorAll('.needs-validation')
              
                    // Loop over them and prevent submission
                    Array.prototype.slice.call(forms)
                    .forEach(function (form) {
                     form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                          event.preventDefault()
                          event.stopPropagation()
                       }
                      form.classList.add('was-validated')
                    }, false)
                  })
              })()
              </script>
        </div>
    </div>
</body>
